@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400&family=Montserrat:wght@400;700&family=Open+Sans:wght@600&display=swap");
* {
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: "Montserrat", sans-serif;
}

/* Hide scrollbar */
::-webkit-scrollbar {
  display: none;
}

html,
body {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

/* ================= GLOBAL TYPOGRAPHY ================= */

h1 {
  font-size: clamp(28px, 4vw, 46px);
  font-weight: 700;
  color: #28384f;
  margin: 0;
}

h2 {
  font-size: clamp(22px, 3vw, 32px);
  font-weight: 700;
  color: #28384f;
}

p {
  font-size: 16px;
  line-height: 1.6;
  color: #333;
}

/* Inputs Global */
input,
select,
button {
  font-family: "Montserrat", sans-serif;
}

/* Button base style */
button {
  cursor: pointer;
}